{% extends 'base.html' %}

{% block title %}

 SIMAT

{% endblock title %}	


{% block body %}


	<h2>    Approved by AICTE, Affiliated to KTU  </h2>
	<h3> About </h3>
		<p class="about">
			Sreepathy Institute of Management and Technology is the offspring of the Sreepathy Trust which is formed with the collective participation of dedicated technocrats, engineers, industrialists , philanthropists and individuals having the common goal of establishing a platform to promote quality higher education and research avenues in professional disciplines like technical and engineering subjects, medical and paramedical, management studies, agriculture , biotechnology and cultural disciplines in order that the deserving cross section of the society irrespective of their cast, colour and creed are provided with an opportunity to groom.</p>

		<p class="about">	The devoted teaching faculty of SIMAT with consistent academic records is headed by a qualified,
			talented and professional Director to excel in all sphere of the institution activities. The institution has put in place the state- of- the -art infrastructure and laboratory facilities to enrich the student’s academic profiles . Our Faculty members include PhD holders and academically proven Post Graduates who enjoy the working environment well besides availing the pay and benefits which are at par with AICTE guidelines.</p>

		<p class="about">Excellent computer infrastructure is set up incorporating a network of 400 systems with a 52 Mbps leased 	line internet connectivity. Our Library is well stocked with a full range of books, journals and publications to support the faculty and the student community who are in pursuit of academic excellence .The workshops, engineering laboratories .etc. of different engineering departments are similarly well equipped even beyond the AICTE requirements.</p>
		

		<p class="about">It’s a matter of great pride that various inspection teams including the one appointed by the High Court of Kerala were immensely impressed and even commented favorably on our facilities.</p>
		

{% endblock body %}
